body {
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.login-form {
  padding: 50px;
  border-radius: 5px;
  color: #ffffff;
}

.login-title {
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: BLACK;
}

.login-box {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.login_btn {
  background-color: #5c8374;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.login_btn:hover {
  background-color: #9ec8b9;
}

a {
  color: #000;
  text-decoration: none;
}
.con {
  background-color: rgba(92, 131, 116, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(0px);
  max-width: 500px;
  width: 100%;
}
