body {
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.login-form {
  background-color: #353b48;
  padding: 50px;
  border-radius: 5px;
  color: #ffffff;
  max-width: 500px;
  width: 100%;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #ffffff;
}

.login-box {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-right: 40px;
}

.login_btn {
  background-color: #3c90d1;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.login_btn:hover {
  background-color: #3079b5;
}

a {
  color: #ffffff;
  text-decoration: none;
}
